{%extends "base.html"%}

{% block title %}New Polling Unit{%endblock%}

{% block body %}

<div class="add_polling_unit_result">
    <h1>New Polling Unit</h1>
    <form action="{%url 'bincom:new_polling_unit'%}" method="post">
        {%csrf_token%}
        <div>
            <input type="text" placeholder="New Polling Unit name" name="polling_unit_name" required>
        </div>
        <div>
            <input type="number" placeholder="Polling Unit ID" name="polling_unit_id" required>
        </div>
        <div>
            Select LGA

            <select name="lga_id" id="lga">
                <option value="" disabled>Select LGA</option>
                <option value="Hello" disabled>--- Select Ward ---</option>
                {%for lga in lgas%}
                    <option value="{{lga.lga_id}}">{{lga.lga_name}}</option>
                {%endfor%}
            </select>
        </div>

        <div>
            Select Ward

            <select name="ward_id" id="ward">
                {%for ward in wards%}
                    <option value="{{ward.ward_id}}">{{ward.ward_name}}</option>
                {%endfor%}
            </select>
        </div>

        <div>
            <label for="">Add Results Now</label>
            <input type="radio" value="Yes" name="add_new_result" required>Yes
            <input type="radio" value="No" name="add_new_result" required>No
        </div>

        <button type="submit">Submit</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var lga = document.getElementById('lga');
            var ward = document.getElementById('ward');

            lga.addEventListener('change', function(){
                var lga_id = lga.value;
                ward.innerHTML = '<option value="">--- Select Ward ---</option>';
                if(lga_id){
                    fetch(`load_wards/${lga_id}`)
                        .then(res => res.json())
                        .then(data => {
                            data.forEach(war => {
                                var option = document.createElement("option");
                                option.value = war.ward_id;
                                option.text = war.ward_name;
                                ward.add(option)
                            });
                        })
                }
                })
            })
    </script>
</div>

{%endblock%}